---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> **Note** The client performing the terraform commands needs to have the
ability to push images to your destination registry. <-

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Import

To import simply run:

```shell
terraform import ravelin_imagesync.hello_world <source>,<destination>
```

Following the example above, this resource can be imported using:

{{ codefile "shell" .ImportFile }}
