---
page_title: "Provider: Ravelin"
description: |-
  A Terraform provider for a few custom resources used at ravelin.com.
---

# Ravelin Provider

The "ravelin" provider allows miscellaneous operations we couldn't do natively
in Terraform. As we use GCP, we also have some data sources which allow us to
fetch information from our cloud platform that we couldn't retrieve using the
official google providers.

For more information on the specific resources & data sources available, see the
links in the navigation bar. Read on for information on the general patterns
that apply to this provider's resources.

Example usage:

{{ tffile "examples/provider/provider.tf" }}

{{- .SchemaMarkdown | trimspace -}}

