---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


This data source is useful for internal usage at Ravelin Technologies. It opens
a list of IAM yaml files which describe user access to our platform & tools to
retrieve escalation access for gsudo users.

-> **Note** This data source is for internal use only.

## Example Usage

{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
